#logo{
    font-size: 25px;
    color: grey;
    font-weight: bolder;
    padding: 30px 0 0 30px;
    position: relative;
    top: 47px;
}

nav{
    background: #FFFFFF;
    box-shadow: 0px 5px 22px rgba(234, 233, 233, 0.68);
    height: 106px;
    width: 100%;
}

/* nav ul{
    float: right;
    margin-right: 20px;
    padding-bottom: 20px;
} */

.right-side{
    margin-right: 150px;
}

.menu-top > li{
    display: inline-block;
    margin-right: 25px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 58px;
/* or 242% */

text-align: center;
letter-spacing: 0.02em;

color: rgba(102, 102, 102, 0.6);

}

a {
    text-decoration: none;
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 58px;
/* or 242% */

text-align: center;
letter-spacing: 0.02em;

color: rgba(102, 102, 102, 0.6);
margin-right: 20px;
}

a:hover{
    color: black;
    text-decoration: double;
}

#contact-li{
    color: black;
    background-color: yellow;
    padding: 0px 0px 0px 15px;
}